# dependencies
/node_modules/
/coverage/
/dist/

/.env

/yarn-error.log

# Cypress
/cypress/videos/
/cypress/screenshots/

###> JetBrains #################################################################
# JetBrains IDE metadata. Adapted from:
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# User-specific stuff
/.idea/**/workspace.xml
/.idea/**/usage.statistics.xml
/.idea/**/shelf

###< JetBrains #################################################################
